<div class="side_bar">
  <div class="side_bar__head">
    <div class="head_name">
      <%= link_to current_user.name, edit_user_path(current_user.id) %>
    </div>
    <div class="chat_link">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="side_bar__room">
    <div class="chat_room"><a href="chat_room__link">techroom1</a>
    </div>
  </div>
</div>